                                                html {
                                                min-height: 100%;
                                                position: relative;
                                            }
                                            
                                            body {}
                                            
                                            body::after {
                                                content: "";
                                                background: url('./Assets/isometric.jpg');
                                                opacity: 0.5;
                                                top: 0;
                                                left: 0;
                                                bottom: 0;
                                                right: 0;
                                                position: absolute;
                                                z-index: -1;
                                            }
                                            
                                            th {
                                                background-color: transparent;
                                            }
                                            
                                            th,
                                            td {
                                                border-right: 2px;
                                            }
                                            
                                            .time {
                                                border-left: 2px;
                                            }
                                            
                                            .input-cell {
                                                padding: 0px !important;
                                                position: relative;
                                            }
                                            
                                            .input-area {
                                                width: 100%;
                                                height: 100%;
                                                resize: none;
                                                border: 0;
                                                padding: 5px 0px 0px 10px;
                                                position: absolute;
                                            }
                                            
                                            .save-button-cell {
                                                background-color: transparent;
                                            }
                                            
                                            .time,
                                            .save-button-cell {
                                                width: 5%;
                                            }
                                            
                                            #title-date,
                                            #title-time {
                                                margin: 0;
                                            }
                                            
                                            .sticky-footer {
                                                bottom: 0px;
                                                position: absolute;
                                                width: 100%;
                                            }
                                            
                                            .jumbotron {
                                                background-color: transparent;
                                            }
                                            
                                            .btn-outline-secondary {
                                                color: black;
                                            }
                                            
                                            .page-link {
                                                z-index: 1;
                                                color: #fff;
                                                background-color: lightblue;
                                                border-color: lightblue;